:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  body {
      font-family: 'Arial', sans-serif;
      background-color: #f5f6fa;
      color: #333;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
  }

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: #fff;
    width: 88%; /* Уменьшил ширину */
    margin: 0 auto; /* Центрирует блок по горизонтали */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    z-index: 1000;
    margin-bottom: 20px;
}

.left-section {
    display: flex;
    align-items: center;
    width: 50%;
}
.logo-img {
    height: 60px;
    border-radius: 10px;
}


h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

.term-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    margin-bottom: 20px;
}

.term-selection label {
    font-size: 16px;
    font-weight: bold;
}

select, button {
    padding: 5px 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f7f7f7;
    color: #333;
}

td {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:last-child td {
    font-weight: bold;
    background-color: #f0f0f0;
}

.rectangle-14 {
    position: relative;
    text-align: center;
    width: 100vw;
    left: 0;
    height: 563px;
    margin-top: 5%;
    background: #1e2151;
    z-index: 41;
    overflow: visible auto;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 88%;
    margin: 3% 6% 0 6%;
  }
  
  .flex-columns {
    display: flex;
    flex-direction: column;
  }
  
  .titles {
    color: #ffffff;
    font-family: Battambang, var(--default-font-family);
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
    text-align: left;
    white-space: nowrap;
    z-index: 49;
  }
  
  .nodes {
    color: #ffffff;
    font-family: Battambang, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    white-space: nowrap;
    z-index: 54;
  }

  .line-15, .line-17 {
    position: relative;
    width: 90%;
    height: 1px;
    margin: 3% 5% 0 5%;
    background-color: white;
    background-size: cover;
    z-index: 65;
  }

  .flex-row-daab {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 30% 0 9%;
    gap: 5%;
  }

  .flex-row-daab div {
    display: flex;
    gap: 4%;
    flex-direction: row;
    margin-left: 2%;
  }

  .flex-row-daab i {
    position: relative;
    margin-top: 4%;
    color: white;
  }

  .copyright-reserved {
    display: block;
    position: relative;
    margin: 0 0 0 10%;
    color: #ffffff;
    font-family: Battambang, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    white-space: nowrap;
    z-index: 78;
  }
  
